@page "/calendar"
@inject DialogService DialogService
<h3>Calender</h3>
    <RadzenScheduler  @ref=@scheduler AppointmentSelect=@OnAppointmentSelect LoadData="@OnLoadData" Style="height:800px" SelectedIndex="1" Data="@data" TItem="DataItem" StartProperty="Start" EndProperty="End" TextProperty="Text">
        <RadzenDayView />
        <RadzenWeekView />
    </RadzenScheduler>



@code {
    [Inject]
    public IReservationsService ReservationsService { get; set; }
    List<DataItem> data;

    RadzenScheduler<DataItem> scheduler;

    async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<DataItem> args)
    {
        Console.WriteLine($"from OnAppointmentSelect(): {args.Data.Text}");
        await DialogService.OpenAsync<EditAppointmentPage>("Delete Reservation", new Dictionary<string, object> { { "Reservation", args.Data } });
        Console.WriteLine($"after OpenAsync()");
        await scheduler.Reload();
    }

    async Task OnLoadData(SchedulerLoadDataEventArgs args)
    {
        ReservationListView fetchedDada = await ReservationsService.GetReservationByDate(args.Start, args.End);
        data = new List<DataItem>();
        foreach (var item in fetchedDada.Reservations)
        {
            data.Add(
                new DataItem
                {
                    Id = item.Id,
                    Uid = item.User,
                    Start = item.StartDate,
                    End = item.EndDate,
                    Text = $"{item.UserName} is in {item.RoomName} from {item.StartDate.TimeOfDay} till {item.EndDate.TimeOfDay}."
                }
            );
        }
    }
    protected override async Task<Task> OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
