@page "/"

<h1>Office Planner</h1>

Welcome to our office planner application
<br />
With this application you reserve your desk on your office for half or full day.
<br />
<AuthorizeView>
    <Authorized>
        Click the button below to reserve your desk.
        <br />
        <a href="https://localhost:44302/reservation">
            <button type="button" class="btn btn-primary">Make a reservetion</button>
        </a>
    </Authorized>
</AuthorizeView>