@page "/"

<h1>Office Planner</h1>

Welkom bij de office planner applicatie.
<br />
Via deze applicatie kan u een afspraak maken om een bureau te reserveren voor een halve of hele dag.
<br />
Klik op onderstaande knop om een bureau te reserveren.
<br />
<a href="https://localhost:44302/reservation">
    <button type="button" class="btn btn-primary">Reserveren</button>
</a>
