@page "/reservation"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

<h3>Make a New Reservation</h3>

<EditForm Model="newRes" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-4">
            <RadzenDatePicker @bind-Value=@choosenDay Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) DateFormat="dd-MM-yyyy" />
            <RadzenRadioButtonList @bind-Value=@value TValue="int" Orientation="Radzen.Orientation.Horizontal" Change=@((args) => OnChangeRadio(args, "Select Hele dag/Halve Dag")) Style="margin-top:30px">
                <Items>
                    <RadzenRadioButtonListItem Text="Full day" Value="8" />
                    <RadzenRadioButtonListItem Text="Half day" Value="4" />
                </Items>
            </RadzenRadioButtonList>
            @if (displayMessage)
            {
                <div class="alert alert-@(positive ? "success" : "danger")" role="alert" style="margin-top: 30px">
                    @message
                </div>
            }
        </div>
        <div class="col-md-7" style="overflow-y: scroll; max-height: 800px; padding: 10px; border: 1px solid lightgray; border-radius:5px" id="accordionExample">
            @foreach (var room in roomList)
            {
                <Room RoomTitle="@room.Name" Data="@times" RoomId="@room.Id" BindingValueChanged="value => TimeChanged(value)" SubmitBtnClick="x => OnSubmit()"></Room>
            }
        </div>
    </div>
</EditForm>


@code {
    [Inject]
    public IReservationsService ReservationsService { get; set; }
    [Inject]
    public ISettingsService SettingsService { get; set; }
    [Inject]
    public IRoomService RoomService { get; set; }

    List<RoomsReadViewModel> roomList = new List<RoomsReadViewModel>();
    List<PickerTimeRange> times = new List<PickerTimeRange>();
    ReservationCreateViewModel newRes = new ReservationCreateViewModel();
    IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    SettingReadViewModel settings { get; set; }

    DateTime choosenDay = DateTime.Today;
    DateTime date = DateTime.Today.AddDays(1);
    int value = 4;
    private bool positive = true;
    private bool displayMessage = false;
    private string message;
    private string _authMessage;
    private string _userId;

    private static PickerTimeRange eventResult = new PickerTimeRange();

    protected bool TimeChanged(PickerTimeRange time)
    {
        eventResult = time;
        Console.WriteLine("from DateChanged: " + Newtonsoft.Json.JsonConvert.SerializeObject((PickerTimeRange)time));
        if (time.pick >= time.min && time.pick.Add(new TimeSpan(value, 0, 0)) <= time.max)
        {
            DisplayMessage("Time picked is between given range");
            return true;
        }
        else
        {
            if (time.pick < time.min)
            {
                DisplayMessage($"Your start time [{time.pick}] is before the given range [{time.min}]", false);
            }
            else if (time.pick.Add(new TimeSpan(value, 0, 0)) > time.max)
            {
                DisplayMessage($"Your end time [{time.pick.Add(new TimeSpan(value, 0, 0))}] is after the given range [{time.max}]", false);
            }
        }
        return false;
    }

    private async Task DisplayMessage(string _message, bool _positive = true)
    {
        displayMessage = true;
        positive = _positive;
        message = _message;
        await Task.Delay(3000);
        displayMessage = false;
    }

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _authMessage = $"{user.Identity.Name} is authenticated.";
            _claims = user.Claims;
            _userId = user.FindFirst(c => c.Type == "sub")?.Value;
        }
        else
        {
            _authMessage = "The user is NOT authenticated.";
        }
        Console.WriteLine(_authMessage);
    }

    //void DateRenderSpecial(DateRenderEventArgs args)
    //{
    //    if (settings.Holidays.Contains(args.Date))
    //    {
    //        args.Attributes.Add("style", "background-color: #ff6d41; border-color: white;");
    //    }

    //    args.Disabled = settings.Holidays.Contains(args.Date);
    //}

    protected override async Task<Task> OnInitializedAsync()
    {
        await GetClaimsPrincipalData();
        Console.WriteLine(Newtonsoft.Json.JsonConvert.SerializeObject(settings));
        await GetAvailableSpace();
        return base.OnInitializedAsync();
    }

    async Task GetAvailableSpace()
    {
        var res = await ReservationsService.GetReservationByDate(choosenDay, choosenDay.AddDays(1));
        roomList = await RoomService.GetAllRooms(choosenDay);
        settings = await SettingsService.GetActiveSetting(choosenDay);
        times = new List<PickerTimeRange>();

        TimeSpan startHour = TimeSpan.Parse(settings.Workhours.StartHour);
        TimeSpan endHour = TimeSpan.Parse(settings.Workhours.EndHour);

        foreach (var room in roomList)
        {
            int deltaSeats = room.AvailableSeats - res.Reservations.Where(x => x.Room == room.Id).Count();
            Console.WriteLine(deltaSeats);
            foreach (var reservation in res.Reservations)
            {
                if (room.Id == reservation.Room)
                {
                    var hoursBeforeAReservation = (reservation.StartDate.TimeOfDay - startHour).TotalHours;
                    var hoursAfterAReservation = (endHour - reservation.EndDate.TimeOfDay).TotalHours;

                    if (hoursBeforeAReservation >= value)
                    {
                        times.Add(new PickerTimeRange
                        {
                            roomId = reservation.Room,
                            min = startHour,
                            max = reservation.StartDate.TimeOfDay
                        });
                    }
                    if (hoursAfterAReservation >= value)
                    {
                        times.Add(new PickerTimeRange
                        {
                            roomId = reservation.Room,
                            min = reservation.EndDate.TimeOfDay,
                            max = endHour
                        });
                    }
                }
            }

            for (int i = 0; i < deltaSeats; i++)
            {
                times.Add(new PickerTimeRange
                {
                    roomId = room.Id,
                    min = startHour,
                    max = endHour
                });
            }
        }
    }
    async Task OnChange(DateTime? value, string name, string format)
    {
        await GetAvailableSpace();
    }
    async Task OnChangeRadio(int? value, string name)
    {
        await GetAvailableSpace();
    }
    async Task OnSubmit()
    {

        if (TimeChanged(eventResult))
        {
            newRes = new OfficePlanner.Shared.ViewModels.ReservationCreateViewModel()
            {
                StartDate = choosenDay.Date + eventResult.pick,
                EndDate = choosenDay.Date + eventResult.pick.Add(new TimeSpan(value, 0, 0)),
                User = _userId,
                Room = eventResult.roomId
            };

            var dayOfWeek = newRes.StartDate.DayOfWeek;
            if (!settings.WeekendsAllowed)
            {
                if (dayOfWeek == DayOfWeek.Saturday || dayOfWeek == DayOfWeek.Sunday)
                {
                    DisplayMessage("It's weendend go home");
                    return;
                }
            }

            if(newRes.StartDate < DateTime.Now.AddDays(settings.DaysRequiredInOffice))
            {
                if (!settings.Holidays.Contains(newRes.StartDate.Date))
                {
                    var validationResult = await ReservationsService.Validate(newRes);
                    if (validationResult)
                    {
                        if (await ReservationsService.CreateReservation(newRes))
                        {
                            DisplayMessage("Reservation is submitted.\nYou can view or delete your reservation on calendar page.");
                            return;
                        }
                    }
                }
            }
        }
        DisplayMessage("Reservation is unsuccessful", false);
    }
}
