<div class="card">
    <div class="card-body">
        <div class="card-title">@RoomTitle</div>
        <div class="accordion">
            @foreach (var item in Data)
            {
                if (RoomId == item.roomId)
                {
                    <ReservationItem BindingValueChanged="BindingValueChanged" SubmitBtnClick="SubmitBtnClick" Data="item"></ReservationItem>
                }
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string RoomTitle { get; set; }
    [Parameter]
    public int RoomId { get; set; }
    [Parameter]
    public List<PickerTimeRange> Data { get; set; }
    [Parameter]
    public EventCallback<PickerTimeRange> BindingValueChanged { get; set; }
    [Parameter]
    public EventCallback<PickerTimeRange> SubmitBtnClick { get; set; }
}
